
div#dyslexiconPopUp {
    display: none;
    position: fixed; 
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 5px;
}
div#dyslexiconPopUp.show {
    display: flex;
}
div#dyslexiconPopUp > button {
    padding: 5px;
    cursor: pointer;
    text-align: left;
}

div#dyslexiconPopUp > button:hover {
    background: #ececec;
    background-color: white;
    color: black;
}
button.dyslexicon {
   background-color: white !important;
    color: black !important;
    padding: 5px !important ;
}



  .dyslexicon-text-default:not(.dyslexicon--off) *::selection {
    color: white; /* WebKit/Blink Browsers */
  }
  .dyslexicon-text-default:not(.dyslexicon--off) *::-moz-selection {
      color: white;
  }

  .dyslexicon-text-green:not(.dyslexicon--off) *::selection {
    color: green; /* WebKit/Blink Browsers */
  }
  .dyslexicon-text-green:not(.dyslexicon--off) *::-moz-selection {
      color: green;
  }
  .dyslexicon-text-red:not(.dyslexicon--off) *::selection {
    color: red; /* WebKit/Blink Browsers */
  }
  .dyslexicon-text-red:not(.dyslexicon--off) *::-moz-selection {
      color: red;
  }
  .dyslexicon-text-blue:not(.dyslexicon--off) *::selection {
    color: blue; /* WebKit/Blink Browsers */
  }
  .dyslexicon-text-blue:not(.dyslexicon--off) *::-moz-selection {
      color: blue;
  }

  .dyslexicon-text-black:not(.dyslexicon--off) *::selection {
    color: black; /* WebKit/Blink Browsers */
  }
  .dyslexicon-text-blue:not(.dyslexicon--off) *::-moz-selection {
      color: black;
  }
  
  .dyslexicon-background-default:not(.dyslexicon--off) *::selection {
    background-color: #3297FD; /* WebKit/Blink Browsers */
  }
  .dyslexicon-background-default:not(.dyslexicon--off) *::-moz-selection {
    background-color:blue;
  }

  .dyslexicon-background-cream:not(.dyslexicon--off) *::selection {
    background-color:#F8F0E3; /* WebKit/Blink Browsers */
  }
  .dyslexicon-background-cream:not(.dyslexicon--off) *::-moz-selection {
    background-color:#F8F0E3;
  }

  .dyslexicon-background-grey:not(.dyslexicon--off) *::selection {
    background-color:grey; /* WebKit/Blink Browsers */
  }
  .dyslexicon-background-grey:not(.dyslexicon--off) *::-moz-selection {
    background-color:grey;
  }


  .dyslexicon-font-arial:not(.dyslexicon--off) .dyslexicon--selected.active {
    font-family: 'Arial' ;
  }
  .dyslexicon-font-verdana:not(.dyslexicon--off) .dyslexicon--selected.active {
    font-family: 'Verdana' ;
  }
  .dyslexicon-font-helvetica:not(.dyslexicon--off) .dyslexicon--selected.active {
    font-family: 'Helvetica' ;
  }
  .dyslexicon-font-Tahoma:not(.dyslexicon--off) .dyslexicon--selected.active {
    font-family: 'Tahoma' ;
  }
  .dyslexicon-font-trebuchet-ms:not(.dyslexicon--off) .dyslexicon--selected.active {
    font-family:'Trebuchet MS';  }

  .dyslexicon-font-times-new-roman:not(.dyslexicon--off) .dyslexicon--selected.active {
    font-family:'Times New Roman' ;
  }

  .dyslexicon-font-georgia:not(.dyslexicon--off) .dyslexicon--selected.active {
    font-family:'Georgia' ;
  }
  .dyslexicon-font-garamond:not(.dyslexicon--off) .dyslexicon--selected.active {
    font-family:'Garamond' ;
  }
  .dyslexicon-font-courier-new:not(.dyslexicon--off) .dyslexicon--selected.active {
    font-family:'Courier New' ;
  }




