



#mainPopup {
  padding: 10px;
   border: 2px solid #73ad21;
  width: 400px;
}

.mainPopup {
  padding-left: 15px;
  padding-right: 15px;
  
}


.txtColContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



select#voice-select, select#fontPicker {
font-size: 14px;
}

  h1 {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .form-group {
    margin-bottom: 1rem;
  }
 
  select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
  }


  #rate-input-div {
    display: none;
  }
  
  select#text-size {
    font-size: 14px;
}

.button {
  font-size: 12px;
  background: none;
  border: 2px solid black;
  padding: 10px 15px;
  opacity: 0.3;
  outline: none;
  vertical-align: middle;
}


.button.active {
  opacity: 1;
  font-weight: 700;
}

button#btnRedTxt {color: red;}

button#btnDefaultTxt {color: black;}

button#btnBlueTxt {color: blue;}

button#btnGreenTxt {color: green;}

button#btnBlackTxt {color: black;}

button#btnCream {
  background-color:#fffff2 ;
}
button#btnGrey {
  background-color:#D3D3D3 ;
}
button#btnDefaultBg {
  background-color:#3297FD ;
}

.dyslexicon-font-arial  {
  font-family:'Arial';
}
.dyslexicon-font-verdana  {
  font-family:'Verdana';
}
.dyslexicon-font-helvetica  {
  font-family:'Helvetica'  ;
}
.dyslexicon-font-tahoma  {
  font-family:'Tahoma' ;
}
.dyslexicon-font-trebuchet-ms  {
  font-family:'Trebuchet MS';  }

.dyslexicon-font-times-new-roman  {
  font-family:'Times New Roman' ;
}
.dyslexicon-font-georgia  {
  font-family:'Georgia' ;
}
.dyslexicon-font-garamond  {
  font-family:'Garamond' ;
}
.dyslexicon-font-courier-new  {
  font-family:'Courier New' ;
}
