

/* change font family */
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",
    Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
  }



button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    display: none;
  }
  
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: black;
    text-shadow: 0 1px 0 white;
    opacity: .5;
  }
  .close:not(:disabled) {
    cursor: pointer;
  }
  .close:hover {
    color: black;
    text-decoration: none;
    opacity: .75;
  }



/* from read-aloud.*/
.slider {
    position: relative;
    height: .8em;
    border-radius: 1em;
    background-image: linear-gradient(#888, #959595, #a7a7a7, #b4b4b4);
    margin: 0 .25em;
  }
  .slider > .bar {
    position: absolute;
    height: 100%;
    border-radius: 1em;
    background: linear-gradient(#59928b, #84d1c9, #3e8790);
  }
  .slider > .knob {
    position: absolute;
    cursor: ew-resize;
    margin: -.4em 0 0 -.5em;
    width: 1em;
    height: 1.6em;
    border-radius: .4em;
    background: linear-gradient(to right, #2a737b, #77bbb3, #77bbb3, #2a737b);
    touch-action: none;
  }